<app-navigation></app-navigation>

<div class="contact-background">
  <img src="assets/northern-lights-snowy-mountains-lake.png" alt="Background" class="background-image" />
  <div class="overlay-content">
    <div class="contact-card contact-content" #contactCard>
    <section class="header">
      <h1>Contact Shawn Logan</h1>
      <p class="tagline">Let's connect!</p>
    </section>
    <section class="section">
      <h2>Email</h2>
      <p>
        <a href="mailto:swlogan7&#64;gmail.com">swlogan7&#64;gmail.com</a>
      </p>
    </section>
    <section class="section">
      <h2>LinkedIn</h2>
      <p>
        <a href="https://www.linkedin.com/in/shawn-logan-834675101/" target="_blank" rel="noopener">
          linkedin.com/in/shawnwlogan
        </a>
      </p>
    </section>
    </div>
  </div>
</div>
