<mat-toolbar class="main-toolbar">
  <div class="nav-wrapper">
    <span class="site-title">Shine Your Light</span>
    <div class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">About Me</a>
      <!-- <a mat-button routerLink="/skills" routerLinkActive="active-link">Skills</a> -->
      <a mat-button routerLink="/resume" routerLinkActive="active-link">Resume</a>
      <a mat-button routerLink="/ai-labs" routerLinkActive="active-link">AI Labs</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </div>
  </div>
</mat-toolbar>
