/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#app-loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  overflow: hidden;
}

#app-loader img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fills the screen and crops excess */
}

