#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.overlay-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 100px;
  z-index: 2; /* Overlay content should be above the video */
}

app-navigation {
    position: fixed;
    z-index: 10; /* Navigation should always be on top */
  }