.gif-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.gif-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.4);
}

.overlay-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
